/* CSS files add styling rules to your content */

html, body {
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Literata', serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h3 {
  color: coral;
}