/* CSS files add styling rules to your content */

html, body, div {
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Literata', serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h3 {
  color: coral;
}

p.2columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count:    2; /* Firefox */
	column-count:         2;
  	-webkit-column-gap:   20px; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      20px; /* Firefox */
	column-gap:           20px;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
	text-align: justify; /* Optional */
}

.jumbotron {
  background-color: coral;
}