{% extends 'template.html' %}

{% block page %}

<div class="jumbotron">
  
    <h1>{{ title }}</h1>
</div>
    <img src="{{ image1 }}">
   {% for post in posts %}
    
     <h3>{{ post.title }}</h3>
     <p>{{ post.body }}</p>
  
   {% endfor %}
    
    

<!-- View Source Button -->
<!-- Project Helper -->
<!-- ✂️ Copy this script to your project's view: -->
  <script src="https://button.glitch.me/button.js"></script>
<!-- ✂️ Copy this to wherever you want the button to show: -->
  <div class="glitchButton" align="right"></div>

{% endblock %}