{% extends 'template.html' %}

{% block page %}
    <h1>Createa a blog with Python an Flask on glitch.com... for free</h1>
    
   {% for post in posts %}
    
    <h3>
      {{ post.title }}
    </h3>
    <p>
      {{ post.body }}
    </p>
  
    {% endfor %}
    
    

<!-- View Source Button -->
<a href="https://glitch.com/edit/#!/flasktutorial">
  <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fview-source%402x.png?1513093958802" alt="view source" height="33">
</a>

{% endblock %}